# Entorno virtual y Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Variables de entorno
.env

# Datos locales crudos y capas de almacenamiento
datos_red/
bronze/
*.parquet
*.duckdb

# dbt
dbt_transforms/target/
dbt_transforms/dbt_packages/
dbt_transforms/logs/

# IDEs y SO
.idea/
.vscode/
.DS_Store